#!/bin/bash

# Determine version of the fonts.

case $(otfinfo -v otf/$font-Regular.otf) in
  *";PS 001.000;"*) version=1;;
  *";PS 001.001;"*) version=2;;
  *"Version 2.012;PS 002.000;"*) version=3;;
  *"Version 2.015;PS 002.000;"*) version=3;;
  *"Version 2.030;PS 002.000;"*) version=4;;
  *"Version 2.068;PS 002.000;"*) version=4;;
  *)                version=5;;
esac

# Newer versions have different glyph names.

if [ $version -ge 2 ]
then
  ts_it_compat_flags="--unicoding 'threequartersemdash =: uniE177'"
  ts_rm_compat_flags="--unicoding 'threequartersemdash =: uniE0FB'"
fi

if [ $version -le 3 ]
then
# openg
  oml_flags="$oml_flags --unicoding 'uni0434.ital =: uniF6C6'"

  # the following flags are applied to all encodings for latin
  # alphabet except small caps
  std_flags="$std_flags --unicoding 'f_l =: fl'"
  std_flags="$std_flags --unicoding 'f_i =: fi'"
fi

if [ $version -eq 3 ]
then
  extra_flags="$extra_flags --unicoding 'orn.014 =: uni2767'"
  extra_flags="$extra_flags --unicoding 'orn.015 =: uni2766'"
  extra_flags="$extra_flags --unicoding 'orn.029 =: uni27A2'"
  extra_flags="$extra_flags --unicoding 'orn.035 =: uni2733'"
  extra_flags="$extra_flags --unicoding 'orn.037 =: uni2734'"
  extra_flags="$extra_flags --unicoding 'orn.038 =: uni2713'"
elif [ $version -ge 4 ]
then
  extra_flags="$extra_flags --unicoding 'orn.001 =: uniE0B5'"
  extra_flags="$extra_flags --unicoding 'orn.002 =: uniE0B6'"
  extra_flags="$extra_flags --unicoding 'orn.003 =: uniE0B7'"
  extra_flags="$extra_flags --unicoding 'orn.004 =: uniE0B8'"
  extra_flags="$extra_flags --unicoding 'orn.005 =: uniE0B9'"
  extra_flags="$extra_flags --unicoding 'orn.006 =: uniE0BA'"
  extra_flags="$extra_flags --unicoding 'orn.007 =: uniE0BB'"
  extra_flags="$extra_flags --unicoding 'orn.008 =: uniE0BC'"
  extra_flags="$extra_flags --unicoding 'orn.009 =: uniE0BD'"
  extra_flags="$extra_flags --unicoding 'orn.010 =: uniE0BE'"
  extra_flags="$extra_flags --unicoding 'orn.011 =: uniE0BF'"
  extra_flags="$extra_flags --unicoding 'orn.012 =: uniE0C0'"
  extra_flags="$extra_flags --unicoding 'orn.013 =: uniE0C1'"
  extra_flags="$extra_flags --unicoding 'orn.014 =: uni2767'"
  extra_flags="$extra_flags --unicoding 'orn.015 =: uni2766'"
  extra_flags="$extra_flags --unicoding 'orn.016 =: uniE0C4'"
  extra_flags="$extra_flags --unicoding 'orn.017 =: uniE0C5'"
  extra_flags="$extra_flags --unicoding 'orn.018 =: uniE0C6'"
  extra_flags="$extra_flags --unicoding 'orn.019 =: uniE0C7'"
  extra_flags="$extra_flags --unicoding 'orn.020 =: uniE0C8'"
  extra_flags="$extra_flags --unicoding 'orn.021 =: uniE0C9'"
  extra_flags="$extra_flags --unicoding 'orn.022 =: uniE0CA'"
  extra_flags="$extra_flags --unicoding 'orn.023 =: uniE0CB'"
  extra_flags="$extra_flags --unicoding 'orn.032 =: uniE0D2'"
  extra_flags="$extra_flags --unicoding 'orn.033 =: uniE0D3'"
  extra_flags="$extra_flags --unicoding 'orn.024 =: uniE0CC'"
  extra_flags="$extra_flags --unicoding 'orn.025 =: uniE0CD'"
  extra_flags="$extra_flags --unicoding 'orn.028 =: uniE0CE'"
  extra_flags="$extra_flags --unicoding 'orn.029 =: uni27A2'"
  extra_flags="$extra_flags --unicoding 'orn.030 =: uniE0D0'"
  extra_flags="$extra_flags --unicoding 'orn.031 =: uniE0D1'"
  extra_flags="$extra_flags --unicoding 'orn.035 =: uni2733'"
  extra_flags="$extra_flags --unicoding 'orn.036 =: uniE0D6'"
  extra_flags="$extra_flags --unicoding 'orn.037 =: uni2734'"
  extra_flags="$extra_flags --unicoding 'orn.038 =: uni2713'"
  extra_flags="$extra_flags --unicoding 'orn.034 =: uniE0D4'"
else
  create_vietnamese=false
fi

oml_flags="$oml_flags --unicoding 'rho1 =: rho'"

if $wide_spacing
then
  quote_flags="$quote_flags --position 'quoteleft      30 0 60'"
  quote_flags="$quote_flags --position 'quoteright     30 0 60'"
  quote_flags="$quote_flags --position 'quotesinglbase 30 0 60'"
  quote_flags="$quote_flags --position 'quotedblleft   30 0 60'"
  quote_flags="$quote_flags --position 'quotedblright  30 0 60'"
  quote_flags="$quote_flags --position 'quotedblbase   30 0 60'"
fi

greek_flags="$greek_flags --position 'uni1FCE 0 30 0'"
greek_flags="$greek_flags --position 'uni1FCF 0 30 0'"
greek_flags="$greek_flags --position 'uni1FBD 0 30 0'"
greek_flags="$greek_flags --position 'uni1FCD 0 30 0'"
greek_flags="$greek_flags --position 'uni1FDD 0 30 0'"
greek_flags="$greek_flags --position 'uni1FDE 0 30 0'"
greek_flags="$greek_flags --position 'uni1FDF 0 30 0'"
greek_flags="$greek_flags --position 'uni1FFE 0 30 0'"
greek_flags="$greek_flags --position 'grave   0 30 0'"
greek_flags="$greek_flags --position 'acute   0 30 0'"
greek_flags="$greek_flags --position 'tonos  0 30 0'"
# vim:set ft=sh:
