#!/bin/bash

# Determine version of the fonts.
case $(otfinfo -v otf/$font-Regular.otf) in
  *";PS 001.000;"*) version=1;;
  *";PS 001.001;"*) version=2;;
  *"Version 2.007;PS 002.000;"*) version=3;;
  *"Version 2.062;PS 002.000;"*) version=4;;
  *)                version=5;;
esac

if [ $version -le 3 ]
then
  # the following flags are applied to all encodings for latin
  # alphabet except small caps
  std_flags="$std_flags --unicoding 'f_l =: fl'"
  std_flags="$std_flags --unicoding 'f_i =: fi'"

  create_vietnamese=false
fi


oml_flags="$oml_flags --unicoding 'rho1 =: rho'"
oml_flags="$oml_flags --unicoding 'betasymbolgreek =: beta'"
oml_flags="$oml_flags --unicoding 'kappasymbolgreek =: kappa'"

# configuration file for slantfrac; this actually does not belong here
# but anyway
write_conf() {
    echo "\setlength{\MdSlantfracSpacingBeforeSlash}{${1}}" > tex/MyriadPro.cfg
    echo "\setlength{\MdSlantfracSpacingAfterSlash}{${2}}" >> tex/MyriadPro.cfg
}

if [ $version -le 3 ]
then
    write_conf "-0.15em" "-0.14em"
else
    write_conf "0.0em" "0.0em"
fi
